@font-face {
    font-family: Norse-bold;
    src: url(./Norse-Bold.otf);
}

label{
    text-transform: uppercase;
    display: block;
}
input{
    display:block;
}

body{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button, input, select, textarea{
    font-family: inherit;
    font-size: 100%;
}

input::placeholder{
    font-size: .85rem;
}

input:valid{
    border: 2px solid green;
}

input:not(:placeholder-shown):invalid{
    outline: none;
    border: 1px solid red;
    position: relative;
}

/*input:not(:placeholder-shown):invalid::after{
    content: url('./images/alert-triangle.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
}
*/

input:placeholder-shown:focus{
    outline: none;
    border: 1px solid rgb(67, 67, 255);
    box-shadow: 0px 0px 5px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.left-side{
    flex: 2;
    background-color: green;
    background-image: url(./images/leaf.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo{
    position: absolute;
    top: 25%;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    line-height: 150px;
}

.logo-image{
    display: block;
    max-width: fit-content;
    max-height: 100%;
}

.logo-text{
    display: block;
    margin: 0;
    color: white;
    font-size: calc(150px - 2rem);
    font-family: Norse-bold;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.logo-text p{
    display:block;
}

.right-side{
    flex: 3;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-container{
    line-height: 1.9rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3rem;
}

.text-container, form>*{
    padding-left: 3rem;
}

.form-fields{
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349);
}

.form-inputs{
    display: flex;
    gap: 5rem;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

.left input, .right input{
    font-size: 1.3rem;
}

.left label, .right label{
    font-size: 0.8rem;
    color: rgb(37, 37, 37);
}

.form-submit{
    margin: 2.5rem 0;
}
.form-submit button{
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    border-color: green;
    background-color: green;
    color: white;
}
.form-submit button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px green;
}

.form-submit p{
    padding-left: 5px;
}
.form-submit a{
    text-decoration: none;
    font-weight: bold;
    color: green;
}
.form-submit a:hover{
    text-shadow: 0px 0px 1px green;
}