label{
    text-transform: uppercase;
    display: block;
}
input{
    display:block;
}

body{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button, input, select, textarea{
    font-family: inherit;
    font-size: 100%;
}

input::placeholder{
    font-size: .85rem;
}

input:valid{
    border: 2px solid green;
}

input:not(:placeholder-shown):invalid{
    border: 1px solid red;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.left-side{
    flex: 2;
    background-color: green;
    background-image: url(./images/leaf.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.right-side{
    flex: 3;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-container{
    line-height: 1.9rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3rem;
}

.text-container, form>*{
    padding-left: 3rem;
}

.form-fields{
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349);
}

.form-inputs{
    display: flex;
    gap: 5rem;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
}

.left label, .right label{
    font-size: 0.8rem;
    color: rgb(37, 37, 37);
}

.form-submit{
    margin-top: 2.5rem;
}
.form-submit button{
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    border-color: green;
    background-color: green;
    color: white;
}